{% extends "templates/web.html" %}

---
no_cache=1
---

<!doctype html>
<html class="no-js preload">

{% block meta_block %}
<meta name="language" value="{{language}}" />
{% endblock %}

{% block head %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Links-->
<link rel="stylesheet" href="/files/website_theme/real_brainmade_fbbea86a.css">
<link rel="stylesheet" href="/files/website_settings/website_settings/css.css">

<script>(function () { var c = document.documentElement.classList, ua = navigator.userAgent; c.remove('no-js'); c.toggle('ie', (ua.indexOf('MSIE ') > -1 || ua.indexOf('Trident/') > -1)); }());</script>
<script>(function () { document.documentElement.style.setProperty('--rawVph', window.innerHeight); })()</script>
<script type="module" crossorigin src="/files/app.8687006f.js"></script>
<script type="module" crossorigin src="/files/website_settings/website_settings/app-custom.js"></script>

<link rel="stylesheet" href="/files/website_settings/website_settings/app.54b7b081.css">
{%endblock%}

{% block page_content %}

<body data-v="about">

	{% set args = {"current_page" : 0, "relative_page_link" : "news", "home" : "0","language":language} %}

	<div class="router">
		<div class="view view--about">

		<main>
			<button id="scrollToTop" class="scroll-to-top" aria-label="Back to top">▲</button>
			{{single_result}}
		</main>
		</div>
	</div>

  <div id="grid-ctn" class="ctn">
    <div id="grid" class="row | pr">
      <div class="gridSizer | colSizer | col-1 | t-col-1 | m-col-1"></div>
      <div class="gridSizer | gutSizer"></div>
    </div>
  </div>

  <script
    src="https://cdn.polyfill.io/v3/polyfill.min.js?features=default,es6,fetch,Object.entries,Object.values,IntersectionObserver,Array.from&flags=gated"></script>
</body>
{%endblock%}

</html>