@media  screen and (max-width: 1510px) {
#subscriptions-text{
        margin-left:-11px;
}
}

@media  screen and (max-width: 1309px) {
#subscriptions-text{
        margin-left:-18px;
}
}

@media  screen and (max-width: 1209px) {
#subscriptions-text{
        margin-left:-24px;
}
}

@media  screen and (max-width: 1112px) {
#subscriptions-text{
        margin-left:unset;
}
}

.hidden_nav{
    display:none;
}

.visually_hidden{
    opacity:0;
}

.nav-all{
    transform : translateY(100%);
    transition : 1s ease;
}

.grid-center{
    display:grid;
    justify-items: center;
}
.show-nav{

  height: 75%;
  width: 35%;
  position: fixed;
  background-color: #f9f9ff ;
  top:15%;
  border-radius:20px;
  border: solid 1px #F3F3F3;
  box-shadow: 12px 12px 10px  #F0F0F0;
  z-index:1050;
  transform : translateY(0%);
  transition : 0.75s ease;
  overflow : auto;
}

#function-btn{
    font-weight:200;
    margin-top:15px;
    margin-left:15px;
    background-color:white;
    margin-right:330px;
    border-radius:10px;
    color: #241940;
}

#bg_opacity{
    opacity:.85;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #fff !important;

}

.nav-header{
    margin-top:15px;
    display:grid;
    justify-items: center;
}

.nav-img{
    height:100px;
}

.nav-text{
    margin-left:15px;
    margin-right:15px;
    margin-bottom:15px;
}

.nav-title{
    text-align:center;
    line-height: 1.35;
    margin-bottom:1em;
}

.nav-text-modif{
    font-weight: bold;
    font-size:23px;
}

.title-appcard{
    font-weight: bold;
    font-size:30px;
    text-align:center;
    margin-top:20px;
}


.img-appcard{
    font-size:100%;
}

@media screen and (max-width: 1920px) {
    .show-nav{
        width:30%;
        height:80%;
        top:10%;
    }
}

@media screen and (max-width: 1450px) {
    .show-nav{
        width:35%;
        height:80%;
        top:10%;
    }
}

    @media screen and (max-width: 1440px) {
.show-nav{
        width:35%;
        height:80%;
        top:10%;
    }
}
    
    @media screen and (max-width: 1024px) {
.show-nav{
        width:45%;
        height:85%;
        top:7%;
    }
}
     @media screen and (max-width: 768px) {
.show-nav{
        width:55%;
    }
}
    
         @media screen and (max-width: 425px) {
.show-nav{
        width:80%;
        height:85%;
    }
}
           @media screen and (max-width: 375px) {
.show-nav{
        width:80%;
        height:85%;
        top:10%;
    }
}
           @media screen and (max-width: 320px) {
.show-nav{
        width:80%;
        height:85%;
        top:10%;
    }
    .nav-text-modif{
    font-weight: bold;
    font-size:20px;
    }
}

@media only screen and (max-width: 743px){
.nlForm__submit .btn__label {
    display: block !important;
}
.appCardDetailed__line {
    background-color: white;
}
.title-appcard {
    margin-top: 35px;
}
}

.nlForm__submitIcon {
    flex-shrink: inherit;
    width: 1.8rem;
    height: 1.8rem;
}

   .silicon-grid-center{
        display: grid;
	justify-items: center;
	padding-top: 20px;
    }
    @media only screen and (max-width: 930px){
    .silicon__wrapper {
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
 }
    .silicon__tag{
        min-width: 300px;
	display:flex;
	justify-content: space-between;
    }
.silicon-grid-center{
padding-top:5px;
}
.silicon-button{
padding-top: 5px;
}   
}


.silicon__wrapper {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 0;
}
