.summary-txt{
text-align: center;
}

.btn__label {
  z-index: unset;
}

.summary_txt {
  font-size: 18px;
  padding-left: 41px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.summary_list {
  list-style: inside;
  margin-top: 20px;
}

.locatorList__inner {
  margin-left: -25%;
  padding-left: 25%;
  margin-right: -20%;
}

@media only screen and (min-width: 1113px) {
  .title--l {
    font-size: min(2.188vw, 3.35rem);
  }
}

@media only screen and (min-width: 744px) {
  .locatorMap__map {
    height: 600px;
  }
}

.resellers-all {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.resellers-img {
  cursor: pointer;
  min-width: 220px;
  margin-right: 50px;
  display: grid;
  justify-items: center;
}

#resellers_img:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 0.4s ease;
}

#resellers_img {
  max-height: 150px;
  transition: 0.4s ease;
}
#resellers_img_mobile {
  max-width: 150px;
}

.resellers-txt {
  min-width: 250px;
}

.mb-only {
  display: none;
}
.pc-only {
}

@media only screen and (max-width: 1400px) {
  .resellers-txt {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1350px) {
  .locatorList__inner {
    margin-left: -37%;
    padding-left: 37%;
  }
}

@media only screen and (max-width: 1114px) {
  .mb-only {
    display: block;
  }
  .pc-only {
    display: none;
  }
  .resellers-all {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }
  .locatorList__inner {
    margin-right: -6%;
  }
}

@media only screen and (max-width: 600px) {
  .mb-only {
    display: block;
  }
  .pc-only {
    display: none;
  }
  .resellers-all {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1112px) {
  .location__title {
    font-size: 2rem;
  }
}

.marker_label {
  font-size:1.4rem;
}
.marker_label_btn{
  font-size: 1.3rem;
}

.articleIntro__back:before {
  content: "\002b" !important;
}
.hidden_nav {
  display: none;
}

.visually_hidden {
  opacity: 0;
}

.nav-all {
  transform: translateY(100%);
  transition: 1s ease;
}

.grid-center {
  display: flex;
  justify-content: center;
}

.show-nav {
  height: 75%;
  width: 35%;
  position: fixed;
  background-color: #f9f9ff;
  top: 15%;
  border-radius: 20px;
  border: solid 1px #f3f3f3;
  box-shadow: 12px 12px 10px #f0f0f0;
  z-index: 1050;
  transform: translateY(0%);
  transition: 0.75s ease;
  overflow: auto;
  max-width: 800px;
}

#function-btn {
  font-weight: 200;
  margin-top: 15px;
  margin-left: 15px;
  background-color: white;
  margin-right: 330px;
  border-radius: 10px;
  color: #241940;
}

#bg_opacity {
  opacity: 0.85;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #fff !important;
}

.nav-header {
  margin-top: 30px;
  display: grid;
  justify-items: center;
}

.nav-img {
  max-width: 250px;
  max-height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

p + p {
  margin-top: 0.2em !important;
}

.nav-text {
  margin-left: 15px;
  margin-right: 15px;
  color: black;
  font-weight: 200;
  font-size: 17px;
}

.nav-title {
  text-align: center;
  line-height: 1.35;
  margin-bottom: 1em;
}

.nav-text-modif {
  font-weight: bold;
  font-size: 25px;
  color: black;
}

.title-appcard {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

.centered__title {
  margin-bottom: 3.3rem !important;
}

@media only screen and (min-width: 744px) .locatorList {
  padding-top: calc(10vh + var(--navH)) !important;
}

.img-appcard {
  font-size: 100%;
}

@media screen and (max-width: 1920px) {
  .show-nav {
    width: 30%;
    height: 80%;
    top: 10%;
  }
}

@media screen and (max-width: 1450px) {
  .show-nav {
    width: 35%;
    height: 80%;
    top: 10%;
  }
}

@media screen and (max-width: 1440px) {
  .show-nav {
    width: 35%;
    height: 80%;
    top: 10%;
  }
}

@media screen and (max-width: 1024px) {
  .show-nav {
    width: 45%;
    height: 85%;
    top: 7%;
  }
}
@media screen and (max-width: 768px) {
  .show-nav {
    width: 55%;
  }
}

@media screen and (max-width: 425px) {
  .show-nav {
    width: 80%;
    height: 85%;
  }
}
@media screen and (max-width: 375px) {
  .show-nav {
    width: 80%;
    height: 85%;
    top: 10%;
  }
}
@media screen and (max-width: 320px) {
  .show-nav {
    width: 80%;
    height: 85%;
    top: 10%;
  }
  .nav-text-modif {
    font-weight: bold;
    font-size: 20px;
  }
}

.pointer {
  cursor: pointer;
}

@media screen and (min-width: 744px) {
  .show-nav {
    min-width: 670px;
  }
  .nav_txt {
    min-width: 670px;
  }
}

@media only screen and (max-width: 743px) {
  .nlForm__submit .btn__label {
    display: block !important;
  }
}

.nlForm__submitIcon {
  flex-shrink: inherit;
  width: 1.8rem;
  height: 1.8rem;
}

@media only screen and (max-width: 743px) {
  .flex_change {
    flex-direction: column !important;
  }
  .referencesSlider__slider {
    overflow: auto;
    padding: 60px;
  }
  .ctn {
    padding-left: initial !important;
    padding-right: initial !important;
  }
  .padding-locator {
    padding-right: var(--m);
    padding-left: var(--m);
  }
}
