.hide{
    display:none;
}

.newsWall .cardArticle__fig:before {
    padding-top: 100%;
}

.intro {
    padding-top: calc(var(--navH) + 5rem);
}          

.newsIntro__title {
    margin-bottom: min(5.573vw, 5rem);
}

.text-article {
    margin-bottom: 25px;
}

@media only screen and (max-width: 743px){
.nlForm__submit .btn__label {
    display: block !important;
}
}

.nlForm__submitIcon {
    flex-shrink: inherit;
    width: 1.8rem;
    height: 1.8rem;
}
