@media only screen and (max-width: 743px){
  .nlForm__submit .btn__label {
      display: block !important;
  }
  }
  
  .nlForm__submitIcon {
      flex-shrink: inherit;
      width: 1.8rem;
      height: 1.8rem;
  }
  

  .bootstrap-iso .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  
  .closed {
    .vertical {
      transition: all 0.5s ease-in-out;
      transform: rotate(-90deg);
    }
    .horizontal {
      transition: all 0.5s ease-in-out;
      transform: rotate(-90deg);
      opacity: 1;
    }
  }
  
  .opened {
    opacity: 1;
    .vertical {
      transition: all 0.5s ease-in-out;
      transform: rotate(90deg);
    }
    .horizontal {
      transition: all 0.5s ease-in-out;
      transform: rotate(90deg);
      opacity: 0;
    }
  }
  
  .circle-plus {
     /* height: 4em;
      width: 4em; */
      font-size: 1em;
      opacity: .7;
      cursor: pointer;
  }
  
  .circle-plus .circle {
    display: flex;
    align-items: center;
    justify-content: center;
      position: relative;
      width: 1.55em;
      height: 1.55em;
      border-radius: 100%;
      /*border: solid .3em #DFDAD7;*/
  }
  .circle-plus .circle .horizontal {
      position: absolute;
      background-color: #5a14e6;
      width: 14px;
      height: 2px;
      left: 50%;
      margin-left: -8px;
      top: 50%;
      margin-top: -1px;
  }
  .circle-plus .circle .vertical {
      position: absolute;
      background-color: #5a14e6;
      width: 2px;
      height: 14px;
      left: 50%;
      margin-left: -2px;
      top: 50%;
      margin-top: -7px;
  }
  
  
  .btn-test{
    transition-duration: 300ms;
    margin-top: 3rem;
    margin-bottom: 2.9rem;
    background-color: #5a14e6;
    color: white;
    height: 5rem;
    padding: 0 31px 0 31px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bolder;
  }
  
  .btn-test:hover{
    transition-duration: 300ms;
    background-color: #380c9c;
    transform: scale(0.9);
  }
  
  
  
  #content {
    min-height: unset !important;
    margin-bottom: 20% !important;
  }
  
  .show{
    box-shadow: 0px 4px 9px -1px #d6d6d6;
      background-color: #f0ecff;
      padding: 1px 13px;
  }
  
  .svg_size {
    height: 22px;
    cursor: pointer;
    width: 22px;
  }
  
  .flex_arrow{
    width: 250px;
    display: flex;
    justify-content: space-between;
  
  }
  
  .table_row.show.bootstrap-iso {
    display: table-row !important;
    box-shadow: 0px 4px 9px -1px #d6d6d6;
    background-color: #f0ecff;
  }
  
  .price-grp{
    min-width: 270px;
  }
  
  .price-table {
    width: 100%;
    border-collapse: collapse;
    border: 0 none;
    font-weight: 500;
    font-size: 20px !important;
  }
  .price-table tr{
    border-top: solid 1px #f1f1f1;
  }
  .price-table tr td {
    padding: 8px 24px;
    font-size: 17px;
  }
  .price-table tr td:first-child {
    border-left: 0 none;
    padding: 1.5rem 5rem;
  }
  .price-table tr td:not(:first-child) {
    text-align: center;
  }
  .price-table tr:nth-child(even) {
    background-color: #ffffff;
  }
  .price-table .fa-check {
    color: #5336ca;
  }
  .price-table .fa-times {
    color: #d8d6e3;
  }
  
  /* Highlighted column */
  .price-table tr:nth-child(2n) td:nth-child(3) {
    background-color: rgba(216, 214, 227, 0.25);
  }
  .price-table tr td:nth-child(3) {
    background-color: rgba(216, 214, 227, 0.15);
  }
  .price-table tr td:nth-child(3) .fa-check,
  .price-table tr:nth-child(2n) td:nth-child(3) .fa-check {
    /* color: #ffffff; */
  }
  /**/
  
  .price-table tr.price-table-head td {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .price-table td.price {
    color: #5a14e6;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .price-table td.price-table-popular {
    border-top: 3px solid #5336ca;
    color: #5336ca;
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px 48px;
    font-weight: 700;
  }
  .price-table .price-blank {
    background-color: #fafafa;
    border: 0 none;
  }
  
  .price-table svg {
    width: 16px;
    fill: #5336ca;
  }
  
  .rdy_title {
    font-size: 45px !important;
  }
  
  .all_page {
    padding: 0 5%;
  }
  
  .left {
    padding-left: 10px;
  }
  
  .title_page {
    margin-top: 18rem;
    margin-right: 10rem;
    margin-bottom: 4rem;
  }
  
  #subtitle {
    margin-top: -5px;
    color: #74808b;
    font-size: 20px;
    font-weight: 400;
  }
  
  .trade-img {
    height: 14rem;
  }
  
  .trade_col {
    margin-top: 10.62rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }
  
  .price {
    color: mediumvioletred;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
  }
  
  .price_page {
    display: flex;
    justify-content: space-evenly;
  }
  
  .col {
    width: 33%;
    min-width: 270px;
  }
  
  .pricing-desktop,
  .plan-header {
    line-height: 1.5rem;
    margin-bottom: 1.75rem;
    padding-top: 1.5rem;
    margin-top: 124px;
  }
  
  .pricing-desktop {
    line-height: 21px;
    margin-bottom: 10.625rem;
  }
  
  .plan-header,
  .pricing-header {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    color: #a6b1b9;
    margin-left: 58px;
    margin-bottom: 9rem;
  }
  
  .pricing-header {
    margin-top: 128px;
    margin-bottom: 19rem;
  }
  
  .pricing-desktop,
  .feature {
    border-top: solid 1px #f1f1f1;
    width: 100%;
    padding: 1.5rem 33%;
    font-size: 17px;
    font-weight: 600;
    color: #4c5a67;
    position: relative;
    white-space: nowrap;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  svg {
    overflow: hidden;
    vertical-align: middle;
  }
  
  .max-size {
    max-height: 50px;
  }
  
  .btn-rdy {
    margin-top: 3rem;
    margin-bottom: 2.9rem;
  }
  
  .pc-only {
    display: block;
  }
  
  .mb-only {
    display: none;
  }
  
  .flex-column {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  
  @media only screen and (max-width: 1200px) {
    .title_page {
      display: none;
    }
  }
  
  .flex-extreme {
    display: flex;
    justify-content: space-between;
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
  }
  
  .flex-start {
    display: flex;
    justify-content: flex-start;
  }
  
  .flex-around {
    display: flex;
    justify-content: space-around;
  }
  
  .striked_price {
    font-size: 17px;
    color: #5a14e6;
    text-decoration:#5a14e6 line-through;
    margin-left: 14px;
  }
  
  .above-price {
    margin-bottom: 2rem;
  }
  
  .title_image {
    max-width: 300px;
  }
  
  .rocket_image {
    max-width: 270px;
    margin-top: 6rem;
    border-radius: 58px;
  }
  
  #title_pictures {
    width: 20%;
  }
  
  #main_content {
    top: 18rem;
    overflow-x:scroll;
  }

  #large-table-fake-top-scroll-container-3 {
    max-width: 100vw;
    overflow-x: scroll;
    overflow-y: auto;
  }
  @media only screen and (max-width: 1440px) {
    .max-only {
      display: none;
    }
    .footer{
      margin-top: 35rem;
    }
  }
  
  @media only screen and (max-width: 1350px) {
    .price-grp{
      min-width: 100%;
    }
    .above-price{
      font-size: 16px !important;
      font-weight: 500 !important;
    }
  
    .price{
      font-size: 20px;
    }
    .striked_price {
      font-size: 13px;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .mb-only {
      display: block;
    }
  
    .pc-only {
      display: none;
    }
  
   .footer{
    margin-top:35rem ;
   }
  
  #main_content{
    top:unset;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  #large-table-fake-top-scroll-container-3 {
    display: none;
  }
  
  .flex-extreme {
    max-width: unset;
  }
  
    .mb_striked {
      font-size: 17px !important;
    }
  
    .mb_price {
      font-weight: bold !important;
      font-size: 20px !important;
      text-align: left;
    }
  
    #all-redirect{
      margin-top: 5rem;
    }
  
    .all_categories{
      margin-top: 30rem;
    }
  
  #hide-categories{
    display: none;
  }
  
    .mb-category {
      border: solid 1px #f1f1f1;
      border-radius: 20px;
      display: flex;
      flex-direction: column !important;
      align-items: center;
      justify-content: space-around;
      padding: 14px 21px;
      width: 34rem;
      margin-bottom: 15px;
      text-align: center;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 20%);
    }
  
    .mb-redirect{
      border: solid 1px #f1f1f1;
      border-radius: 20px;
      padding: 14px 21px;
      width: 34rem;
      margin-bottom: 15px;
      text-align: center;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 20%);
    }
    
    .button-flex {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
    }
  
    .mb-img {
      height: 11rem;
      margin-left: 5px;
    }
  
    .title-pack {
      font-size: 18px;
      font-weight: bold;
      margin-right: auto !important;
      margin-left: auto !important;
    }
  
    .pack_price {
      margin-right:auto;
      margin-left:auto;
    }
  
    .acc_trade {
      margin-bottom: 100px;
    }
  
    .title_page {
      margin-right: auto;
      display: block;
      margin-left: auto;
    }
  
    .flex-around {
      display: flex;
      justify-content: flex-end;
      flex-direction: column-reverse;
    }
  
    .rocket_image {
      display: none;
    }
  
    #title_pictures {
      width: unset;
    }
  
    .width100 {
      width: 100%;
    }
  
    .collapse-row {
      margin: 20px 0;
    }
  
    .anti-bootstrap-btn {
      --size: clamp(5rem, 3.906vw, 6.703rem) !important;
      color: #fff !important;
      transition: color 0.3s !important;
      font-size: 16px !important;
      display: inline-flex !important;
    }
    .anti-bootstrap-btn:before {
      padding: 0 calc(var(--size) / 2);
      height: unset;
      background-color: #5a14e6 !important;
    }
  }
  
  @media only screen and (max-width: 525px) {
    .rdy_title {
      font-size: 35px !important;
    }
    .category {
      width: 38rem;
    }
    .title_page {
      margin-top: 10rem;
    }
  }
  
  @media only screen and (max-width: 743px) {
    .nlForm__submit .btn__label {
      display: block !important;
    }
    .appCardDetailed__line {
      background-color: white;
    }
  }
  
  .nlForm__submitIcon {
    flex-shrink: inherit;
    width: 1.8rem;
    height: 1.8rem;
  }
  
  .relative {
    position: relative;
  }
  
  .price_description {
    font-size: 14px;
    color: #4c5a67;
  }
  
  .tooltips {
    display: none;
    position: absolute;
    z-index: 1;
    background: #5a14e6;
    padding: 8px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 11px;
    animation: fadeIn 0.6s;
    top: -25px;
  }
  
  .tooltips:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top: 8px solid #5a14e6;
  }
  
  .bi {
    border-radius: 10px;
    border: solid 1px #5a14e6;
    margin-bottom: 2px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  